
<div *ngIf="forum">
    <h2><span jhiTranslate="jMayaApp.forum.detail.title">Forum</span> {{forum.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jMayaApp.forum.name">Name</span></dt>
        <dd>
            <span>{{forum.name}}</span>
        </dd>
        <dt><span jhiTranslate="jMayaApp.forum.description">Description</span></dt>
        <dd>
            <span>{{forum.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'forum-c/'+ forum.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
